@model MvcPetShopProject.Models.Animal


<div class="card col-md-3 m-1 p-0" style="width: 18rem;">
    <img class="card-img-top"
         src="~/Images/@Model.PictureName"
         style="object-fit: cover; height: 250px;" />
    <div class="card-body">
        <h3 class="card-title">@Model.Name</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Age: @Model.Age</li>
            <li class="list-group-item">Category: @Model.Category!.Name</li>
            <li class="list-group-item">@Model.Description</li>
        </ul>
        <a class="btn btn-dark btn-outline-light"
           href="@Url.Action("GetAnimalDetails", "Animal", new { id = Model.AnimalId })">
            See More
        </a>
    </div>
</div>